.imageContainer {
  position: relative;
  height: 67.125rem;
  display: flex;

  flex-direction: row;
  align-items: flex-start; /* Align items to the bottom */
  justify-content: center;
  
  overflow: hidden;
  --g:radial-gradient(55% 20px, #0009, #0000);  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 60%, #000 100%);
}

.image {
  width: 80vw;
  height: 100vh;
  border-radius: 132.95456rem 132.95456rem 0rem 0rem;

}

.rectangle {
  position: absolute;
  width: 121.125rem;
height: 15.75rem;
margin-top: -22rem;
flex-shrink: 0;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 60%, #000 100%);
}
