.imageContainer {
  position: relative;
  height: 67.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the start */
  justify-content: center;
  overflow: hidden;
}

.image {
  width: 80vw;
  height: 100vh;
  border-radius: 132.95456rem 132.95456rem 0rem 0rem;
}

.rectangle {
  position: absolute;
  width: 121.125rem;
  height: 15.75rem;
  margin-top: -22rem;
  flex-shrink: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 60%, #000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 60%, #000 100%);
}

/* Vendor prefixes for older iOS versions */
@supports (-webkit-appearance: none) {
  .imageContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-align-items: flex-start;
    -webkit-justify-content: center;
  }

  .image {
    -webkit-border-radius: 132.95456rem 132.95456rem 0rem 0rem;
  }
}