html {
  box-sizing: border-box;
  overflow-y: scroll;
  cursor: none;
}

a:hover {
  cursor: none;
}

body *, body button {
  cursor: none !important;
}

body {
  margin: 0;
  word-wrap: break-word;
  background: #000;
}

@font-face {
  font-family: 'TWK Lausanne Pan 300';
  src: url('../fonts/TWKLausanne-300.woff2') format('woff2');

  
}
