.container {
  display: flex;
  padding-left: 2.5rem;
  padding-bottom: 7rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.625rem;
  overflow: hidden;
}

.slideContainer {
  display: flex;
  
  align-items: center;
  gap: 1.5rem;
  
}

.slideContent {
  display: flex;
  animation: slide-left 25s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

.text {
  color: #FFF;
  white-space: nowrap;
  font-family: "TWK Lausanne Pan 400";
  font-size: 13.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 15.125rem */
  letter-spacing: -0.275rem;
  margin-right: 20px;
}
.line {
  width: 97%;
height: 0.0625rem;
opacity: 0.25;
background: #FFF;
}

.image { 
  display: flex;
  align-items: center;
  justify-content: center;

}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}