.container {
  display: flex;
  height: 63px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.20);

  backdrop-filter: blur(7.5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.contentContainer {
  width: 1440px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.hidden {
  opacity: 0;
  transform: translateY(-100%); 
}

.link {
  color: #FFF;
  font-family: "TWK Lausanne Pan 300";
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; 
  text-decoration: none;
  display: flex;
    
  overflow: hidden;
}


.letter {
  backface-visibility: hidden;
  display: block;
  font-style: normal;
  transform: translateY(-17px) translateZ(0); /* Base state */
  transition: transform 0.3s ease;
  text-shadow: 0px 17px 0px rgb(255, 255, 255);
}


.link:hover .letter {
  transform: translateY(0px) translateZ(0);
}

.letter:nth-child(0) {
  transition-delay: .0s;
}

.letter:nth-child(1) {
  transition-delay: .05s;
}

.letter:nth-child(2) {
  transition-delay: .10s;
}

.letter:nth-child(3) {
  transition-delay: .15s;
}

.letter:nth-child(4) {
  transition-delay: .20s;
}

.letter:nth-child(5) {
  transition-delay: .25s;
}

.letter:nth-child(6) {
  transition-delay: .30s;
}

.letter:nth-child(7) {
  transition-delay: .35s;
}

.letter:nth-child(8) {
  transition-delay: .40s;
}

.letter:nth-child(9) {
  transition-delay: .45s;
}

.letter:nth-child(10) {
  transition-delay: .50s;
}

.letter:nth-child(11) {
  transition-delay: .55s;
}

.letter:nth-child(12) {
  transition-delay: .60s;
}

.logoText {
  color: #FFF;
  font-family: "Apercu Pro";
  font-size: 26.582px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.063px;
}

.linkContainer {
  display: inline-flex;
  align-items: flex-start;
  justify-content: left;
  gap: 25px;
  margin-left: 40px;
}

.logoContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.contactContainer {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin-right: 40px;
  width: 255px;
}

.contactLink {
  color: #FFF;
  font-family: "TWK Lausanne Pan 300";
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 1.3rem */
}

.pointer {
  position: relative;
}

.arrow {
  transform: translateY(0px) translateZ(0) translateX(0px); /* Base state */
  transition: transform 0.3s ease;
}

.hiddenArrow {
  transform: translateX(-18px); /* Adjust the hidden position */
  transition: transform 0.3s ease;
   /* Make it invisible initially */
}


.contactContainer:hover .arrow {
  
  transform: translateY(0px) translateZ(0px) translateX(18px); /* Base state */
  transition: transform 0.3s ease;
  text-shadow: 0px 0px 0px rgb(255, 255, 255);
}

.contactContainer:hover .hiddenArrow {
  
  transform: translateY(0px) translateZ(0px) translateX(0px); /* Base state */
  transition: transform 0.3s ease;
  text-shadow: 0px 0px 0px rgb(255, 255, 255);
}


.contactContainer:hover .circle {
  fill: white;
}